$COR_PRINCIPAL: #bacb2f;
$COR_SECUNDARIA: #778890;

$COR_BITCOIN: #ff7a00;

$COR_INFO: #01acff;
$COR_SUCCESS: #4caf50;
$COR_DANGER: #f44336;
$COR_WAITING: #faa92a;

// Resoluções
$MEDIA_IPAD_PRO: 1024px;
$MEDIA_IPAD: 992px;
