<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="MaintenanceIpAddressWhitelist" defaultValue="">
          <!-- add allowed IP addresses to grant access during maintenance period -->
          <add key="179.191.119.42" value="1" />
          <add key="179.228.198.226" value="1" />
          <add key="179.111.150.245" value="1" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="Maintenance Redirect">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{MaintenanceIpAddressWhitelist:{REMOTE_ADDR}}" matchType="Pattern" pattern="1" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/maintenance.html$" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/maintenance.css$" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/maintenance.jpg$" negate="true" />
          </conditions>
          <action type="Redirect" url="maintenance.html" appendQueryString="false" redirectType="Temporary"/>
        </rule>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
